@use "../utils/sizes";

/* component one: 3 columns */
$color-one-one: hsl(31, 77%, 52%);
$color-one-second: hsl(184, 100%, 22%);
$color-one-third: hsl(179, 100%, 13%);

$color-one-text: hsla(0, 0%, 100%, 0.75);
$color-one-light-gray: hsl(0, 0%, 95%);

$font-size-one-main: sizes.pxToRem(15);
